.env
.DS_Store
.vscode/
.idea/
debug_text.txt
packages/server/private/
packages/server/target/
packages/server/.vscode/settings.json
packages/server/Cargo.lock
packages/server/*.txt
packages/sogrim-app/package-lock.json
