on:
  pull_request:
    branches:
      - master # TODO someday will probably need to be renamed into 'main'

name: PR auto-label

jobs:
  apply-label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['release:patch']
            })
